
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root {
    --mainFont:"Poppins",sans-serif;
    --subFont:"Inter",sans-serif;
    --mainColor:#545BE8;
    --testimonialFont:"Mada",sans-serif;
}
body{
    /* height: 5550px; */
    font-family: var(--mainFont);
    color:var(--mainColor);
    display: flex;
    flex-direction: column;
    gap:30px;
}
.container{
    width:calc(100% - 120px);
    
    margin:auto;
}

.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
/*register*/
.register{
    
}

.register .row{
    gap:60px;
    justify-content: flex-start;

}

.register-start, .register-end{
    width:calc((100% - 60px) / 2);
}
.register-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}
.register-start span{
    font-family: var(--subFont);
    font-weight: 300;
}

.register-start i{
    text-transform: capitalize;
    font-weight: 700;
    font-style: normal;
}

.register-start h2{
    font-size: 40px;
    color:#141E32;
    word-spacing: 5px;
}
.register-start h2 span{
    color:var(--mainColor);
    font-weight: 700;
}

.register-start p{
    color:#969696;
}

.register-start .register-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.register-start .register-buttons a{
    border:var(--mainColor) solid;
    padding :5px 20px;
    border-radius: 5px;;
    background: var(--mainColor);
    color:#fff;
}
.register-start .register-buttons .playVideo-button a{
    border:transparent;
    background-color: transparent;
    padding:0px 2px;
}
.register-start .register-buttons .playVideo-button{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    
}
.register-start .register-buttons .playVideo-button a img{
    border: #F0C932 solid;
    border-radius: 50%;
    width:10px;
    padding: 5px;
    background: #F0C932;
    box-sizing: content-box;

}
.register-start .register-buttons .playVideo-button p{
    color:#141E32;
    font-family: var(--subFont);
    font-weight: 700;
}
.register-end img{
    width: 100%;
}

@media (min-width:1024px){
    .register-start span{
        font-size:40px
    }
}

@media  (max-width:900px) {
    .register p, .register span, .register a{
        font-size: 10px;
    }
    .register h2, .register h2 span{
        font-size: 20px;
    }
    .register-start{
        margin-bottom: 20px;;
    } 
}

@media (max-width:600px) {
    .register-start,.register-end{
        width:100%;
    }
    .register-start{
        order:1;
        text-align: center;
    }
    .register-buttons{
        justify-content: space-around;
    }
}

@media (max-width:400px){
    .register-end img{
        display: none;
    }
    .register-start{
        padding:0px;
    }
    .register-start span{
        font-size: 20px;
    }
}
/*services*/

.services{
    background-color: #F5F5F5;
    padding:40px 0px;
}

.services .row{
    gap:20px;
    flex-wrap: wrap;
}

.services .services-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    width:calc((100% - 20px) / 4);
}

.services .services-end {
    display: flex;
    flex-wrap:wrap;
    gap:30px;
    width:calc((100% - 50px) / (4 / 3));
    padding:40px;
    padding-bottom: 10px;

}

.services .services-start span{
    text-transform: uppercase;
    font-family: var(--subFont);
}

.services .services-start h2{
    color:#141E32;
    font-weight: 800;
    word-spacing: 5px;
    font-size: 40px;
}

.services .services-start p{
    color:#969696;
}
.service{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 20px;;
    width:calc((100% - 60px) / 3);
    justify-content: flex-start;
    border:var(--mainColor);
    padding:20px;
    padding-top:40px;
    background: var(--mainColor);
    border-radius:5px ;
    color: #fff;
    font-family: var(--subFont);
}

.service img{
    width:20px;
    border-radius: 50%;
    padding:5px;
    box-sizing: content-box;
    background-color: #fff;
}

.service p{
    font-size: 12px;
    color:#ddd;
    font-family: var(--mainFont);
}

.services .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap:20px;
    padding:0px 80px;
}
.services .buttons .button{
    width: 40px;
    height: 40px;
}
.services .buttons .button img{
    color:#fff;
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding-top:0px;
    border:#F0C932 solid;
    border-radius: 50%;
    padding:0 10px;
    background: #F0C932;
    font-weight: 300;
    
}

.services .buttons .button .rotate-button img{
    rotate: 180deg;
}

@media (min-width:1000px) and (max-width:1124px) {
    .services .services-end p{
        font-size: 10px ;
    }
    .services .services-end h2{
        font-size: 30px;
    }
}

@media (max-width:1000px)  {
    .services .services-start, .services .services-end{
        width:100% ;
    }
}

@media (max-width:700px) {
    .services-end .service{
        width:100%;
    }
}
/* selected-courses */

.selected-courses{ 
    background:  linear-gradient(180deg, #545be8 0%, #272db0 100%);
    color:#fff;
}

.selected-courses .row{
    justify-content: stretch;
    gap:120px;
}

.selected-courses-start,.selected-courses-end{
    width:calc(( 100% - 120px ) / 2 );
}

.selected-courses-start img {
    width:100%;
}

.selected-courses-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}

.selected-courses-end span{
    color:#F0C932;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    font-family:var(--subFont);
}

.selected-courses-end h2{
    font-size:35px;
    line-height: 60px;
    text-transform: capitalize;
}

.selected-courses-end p {
    font-weight: 200;
    color:#ddd;
    font-size: 13px;
}

.selected-courses-end .figures{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.selected-courses-end .figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
}

.selected-courses-end .figure :first-of-type{
    font-weight: 700;
    font-size: 16px;
}

.selected-courses-end .figure :last-of-type{
    color: #ddd;
    font-size: 11px;
}

@media (min-width:1115px) {
    .selected-courses-end span ,.selected-courses-end p{
        font-size: 20px ;
    }
    .selected-courses-end h2{
        font-size: 44px;
    }
    .selected-courses-end{
        gap:40px;
    }
}
@media (max-width:900px){
    .selected-courses-end span ,.selected-courses-end p.selected-courses-end  .figure:last-of-type,.selected-courses-end  .figure:first-of-type{

        font-size: 10px !important;
    }
    .selected-courses-end h2{
        font-size: 25px !important;
    }
    .selected-courses-end{
        gap:20px;
    }
    .selected-courses-end {
        padding:40px 0px;
    }
}
@media (max-width:650px)
{
    .selected-courses-end, .selected-courses-start{
        width:100%;
    }
    .selected-courses .row{
        gap:20px;
    }
    .selected-courses-start img{
        width:80%;
    }
    .selected-courses-end span ,.selected-courses-end p{
        font-size: 20px ;
    }
    .selected-courses-end h2{
        font-size: 44px;
    }
    .selected-courses-end{
        gap:40px;
    }
}

/* Available Courses */
.available-courses{
    padding : 40px 0;
    background-color:#fff; 
}
.available-courses .available-courses-start .courses .course-img{
    position: relative;
    
    
}

.available-courses .available-courses-start .img-info{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}


.available-courses .available-courses-start .img-info :first-of-type {
    color:#fff;
    font-weight: 500;
    font-size: 12px;
    border: var(--mainColor) solid;
    padding:10px 10px;
    background-color:var(--mainColor);
    margin:40px 0px;
}

.available-courses .available-courses-start .img-info :last-of-type{
    color:#fff;
    font-weight: 700;
    font-size: 13px;
    align-self: flex-end;
    padding:10px;
} 



.available-courses .row{
    /* flex-wrap:nowrap; */
    justify-content: stretch;
    gap:60px;
    align-items:flex-start ;
}
.available-courses .available-courses-start{
    width: 70%;
}

.available-courses .available-courses-end {
    width:25%;
}

.available-courses .courses{
    margin:20px 0px;
    
    width: calc(( 100% - 60px ) / 2);
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
}
 
.available-courses .courses a img{
    width:100%;
    filter:brightness(65%);
}

.available-courses-start .courses .row{
    justify-content: space-between;
}
.available-courses-start .courses .row span{
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    text-align: left;
    color: #545be8;
    padding:5px;
}

.available-courses-start .courses .row a{
    font-weight: 700;
    font-size:18px;
    color:#141E32;
    padding:5px;
}

.available-courses-start .course-info{
    display: flex;
    line-height: 32px;
    gap:20px;
    
}
.available-courses-start .course-info h4{
    color:#969696;
    font-weight: 400;
    font-size: 15px;
    padding:5px;
}

.available-courses-end .row{
    flex-direction: column;
    align-items: flex-start ;
    gap: 10px;
}
.available-courses-end .row span{
    margin-top:20px;
    text-transform:uppercase;
    font-family: var(--subFont);
}
.available-courses-end .row h2{
    color:#141E32;
    margin-top: 0px;
    font-size: 34px;
}
.available-courses-end .row p{
    color:#969696;
}

.available-courses-end .row a{
    border: var(--mainColor) solid ;
    padding: 5px 40px;
    border-radius: 8px;
    background-color: var(--mainColor);
    color: #fff;
    margin-top: 20px;
}

@media (max-width:1024px)
{
    .available-courses .available-courses-start, .available-courses .available-courses-end{
        width:100% !important;
    }
}

@media (max-width:750px) {
    .available-courses .available-courses-start .row .courses{
        width:100%;
    }
}

/*testimonial*/
.testimonials{
    padding-bottom: 40px;
}
.testimonials .row{
    flex-wrap: wrap;
    gap:50px;
}

.testimonials h2{
    text-align:center;
    color:#0D1222;
    padding:40px;
    font-family: var(--testimonialFont);
}

.testimonial{
    background-color: #fff;
    width: calc((100% - 50px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    padding:0 20px;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.216);
    position:relative;
}
.testimonial::after{
    content:"";
    width:0px;
    
    border-top:30px solid #F4F4F4;
    border-right:30px solid #F4F4F4;
    border-left:30px solid transparent;
    border-bottom:30px solid transparent;
    position:absolute;
    top:0;
    right:0;
}
.testimonial .user-info img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.testimonial .row{
    justify-content: unset;
    align-items: center;
    gap:5px
    
}
.testimonial .user-data{
    padding: 20px;
}
.testimonial .user-data h3{
    font-size:12px ;
    color:#000;
}
.testimonial .user-data span{
    font-size: 8px;
    color:#969696;

}
.testimonial .user-info .user-data{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:10px;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap:3px;
}
.testimonial .rating img{
    width:13px;
}
.testimonial blockquote{
    line-height: 20px;
    font-size: 10px;
    color:#646464;
    padding-bottom:20px ;
}

@media (max-width:600px){
    .testimonials .testimonial{
        width:100%;
    }
}
/*footer*/
.footer{
    
    background-color:#393e46;
    color:#fff;
    padding: 50px 0px;
}
.footer a{
    color: #fff;
}
.footer .footer-start,.footer .footer-end{
    width:calc((100% - 60px) /2);
}
.footer .row{
    gap: 60px;
}

.footer .logo {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}
.footer .logo img{
    width: 34px;
    padding:4px;
}
.footer .footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:30px;
}
.footer .footer-start p{
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}
.footer .footer-start .icons{
    display: flex;
    gap:14px;
    flex-wrap:wrap;
}
.footer .footer-start .icons img{
    width:15px;
    height: 15px;
    border:1px #fff solid;
    padding: 7px;
    box-sizing: content-box;
}
.footer .footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:30px;
}
.footer .footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:10px;
}

.footer .footer-end .footer-item li{
    font-size:12px;
}
.footer .footer-end .footer-item h2{
    font-size:20px;
}
@media (max-width:850px)
{
    .footer .footer-start, .footer .footer-end{
        width:100%;
    }
}